@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden !important;
}

@font-face {
  font-family: 'Catamaran';
  src: url('/fonts/Catamaran.ttf');
}

#menu {
  z-index: 1000 !important;
}

.progress {
  clip: rect(0, 0.5em, 1em, 0);
  position: absolute;
}

body {
  margin: 0;
  font-family: 'Rubik', 'Catamaran', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  -webkit-border-radius: 0.167rem;
  -moz-border-radius: 0.167rem;
  -ms-border-radius: 0.167rem;
  -o-border-radius: 0.167rem;
  border-radius: 0.167rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

table {
  width: 100%;
}

#table {
  display: block;
  white-space: nowrap;
  overflow: auto;
}

td,
th {
  text-align: left;
  padding: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
